html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Lato, Helvetica, sans-serif;
  color: #333447;
  line-height: 1.6em;
  font-weight: 500;
  font-size: 0.95rem;
  &:focus {
    outline: none;
  }
  a {
    text-decoration: none !important;
    color: cornflowerblue;
  }
  .el-tag {
    border-radius: 0 !important;
    &.position-label {
      display: flex;
      justify-content: center;
    }
  }

  .el-button,
  .el-input__inner,
  .el-input-group__append,
  .el-input-group__prepend {
    border-radius: 2px !important;
  }
  .el-input-group--append .el-input__inner,
  .el-input-group__prepend {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  .el-input-group--prepend .el-input__inner,
  .el-input-group__append {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  .el-breadcrumb {
    font-size: 16px !important;
    height: 50px;
    line-height: 50px !important;
    background-color: #ecf0f1;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 50px;
  }

  .top-right-toolbar {
    display: inline-block;
    position: absolute;
    right: 20px;
    margin-top: -50px;
    height: 50px;
    line-height: 50px;
    z-index: 10;
    .el-button {
      font-size: 14px;
    }
  }

  .filter-icon {
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #eff2f7;
    padding-left: 12px;
  }

  .el-table {
    .el-button--mini {
      font-size: 11px !important;
    }
    .el-button-group.operation {
      .el-button {
        border: none !important;
      }
    }
    td {
      padding: 8px 0;

      &.el-table__expanded-cell {
        background-color: #f6f6fb;
      }
      .operation {
        float: right;
        a {
          float: left;
        }
        div {
          float: left;
        }
      }
    }
    th {
      font-size: 12px !important;
    }
    .el-button-group {
      &.operation {
        display: block;
      }
    }
  }

  .panel-body {
    padding: 20px;
    margin-left: 235px;
    border-left: 1px solid #eff2f7;
    min-height: 100vh;
    max-height: 100%;
    .no-content {
      display: block;
      position: fixed;
      top: 50%;
      left: 50%;
      color: #8f8f8f;
      text-align: center;
      i {
        &:before {
          font-size: 80px;
        }
      }
    }

    .loading {
      display: block;
      position: fixed;
      top: 50%;
      left: 50%;

      i {
        font-size: 20px;
      }
    }

    .pagination {
      float: right;
      position: relative;
      margin-top: -40px;
      clear: both;
    }
  }

  .pagination {
    display: inline-block;
    margin-left: 20px;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;

    .text {
      margin-left: 10px;
      margin-right: 10px;
      color: #9a9898;
      font-size: 12px;
    }
  }

  .el-dropdown-menu__item {
    font-size: 14px;
    &:focus {
      outline: none;
    }
    a {
      color: #333;
    }
  }
  .el-form-item {
    margin-bottom: 10px;
  }
}

.filter-container {
  padding: 17px 20px 0 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 193px;
  font-size: 13px;
  margin-top: 50px;
  -webkit-overflow-scrolling: touch;
  z-index: 10;
  display: block;
  color: #333;

  .el-form {
    .el-select {
      width: 100% !important;
    }
    .el-form-item__label {
      line-height: 0px;
    }
  }
}

.tree-view-item {
  font-size: 10px !important;
  color: cornflowerblue;
  .tree-view-item-key {
    font-weight: bold;
    color: black;
    &.tree-view-item-key-with-chevron {
      &::before {
        top: 0 !important;
      }
      .opened {
        &::before {
          top: 0 !important;
        }
      }
    }
  }
  .tree-view-item-value-number {
    color: deeppink;
  }
}

.vue-input-tag-wrapper {
  padding-left: 14px !important;
  padding-right: 14px !important;
  padding-top: 7px !important;
  padding-bottom: 10px !important;
  -webkit-appearance: none !important;
  border-radius: 4px !important;

  .input-tag {
      background-color: #cde69c;
      border-radius: 2px;
      font-size: 13px;
      font-weight: 400;
      margin-bottom: 4px;
      margin-right: 4px;
      clear: both;
      border: none !important;
      display: inline !important;
      padding: 8px !important;
      color: #333 !important;

      .remove {
        color: #fff !important;
        padding-left: 4px !important;
      }
  }
}

.vm-back-top-inner {
  background-color: rgba(0, 0, 0, 0.17) !important;
}

.d2h-file-wrapper {
  border: none !important;
  margin-bottom: 0 !important;
  .d2h-file-header {
    background-color: #fff !important;
    .d2h-file-name-wrapper {
      font-size: 12px !important;
      .d2h-tag {
        display: none !important;
      }
    }
  }
  .d2h-file-diff {
    .d2h-diff-table {
      font-family: Arial !important;
      font-size: 12px !important;
      .d2h-code-linenumber {
        display: none !important;
      }
      .d2h-code-line {
        margin-left: 0 !important;
      }
    }
  }
}

.online {
  color: #67C23A;
}
.offline {
  color: #909399;
}